<a href="https://colab.research.google.com/github/rubel-47/Maritial_Status_Using_Classification_Algorithm./blob/main/Maritial_Status_Using_Classification_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv('UCI_Credit_Card.csv')

In [ ]:
df

          ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0          1    20000.0    2  ...       0.0       0.0                           1
1          2   120000.0    2  ...       0.0    2000.0                           1
2          3    90000.0    2  ...    1000.0    5000.0                           0
3          4    50000.0    2  ...    1069.0    1000.0                           0
4          5    50000.0    1  ...     689.0     679.0                           0
...      ...        ...  ...  ...       ...       ...                         ...
29995  29996   220000.0    1  ...    5000.0    1000.0                           0
29996  29997   150000.0    1  ...       0.0       0.0                           0
29997  29998    30000.0    1  ...    2000.0    3100.0                           1
29998  29999    80000.0    1  ...   52964.0    1804.0                           1
29999  30000    50000.0    1  ...    1000.0    1000.0                           1

[30000 rows x 25 columns]

In [ ]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [ ]:
x=df.drop(['default.payment.next.month'],axis=1)

In [ ]:
x

          ID  LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
0          1    20000.0    2          2  ...       0.0       0.0       0.0       0.0
1          2   120000.0    2          2  ...    1000.0    1000.0       0.0    2000.0
2          3    90000.0    2          2  ...    1000.0    1000.0    1000.0    5000.0
3          4    50000.0    2          2  ...    1200.0    1100.0    1069.0    1000.0
4          5    50000.0    1          2  ...   10000.0    9000.0     689.0     679.0
...      ...        ...  ...        ...  ...       ...       ...       ...       ...
29995  29996   220000.0    1          3  ...    5003.0    3047.0    5000.0    1000.0
29996  29997   150000.0    1          3  ...    8998.0     129.0       0.0       0.0
29997  29998    30000.0    1          2  ...   22000.0    4200.0    2000.0    3100.0
29998  29999    80000.0    1          3  ...    1178.0    1926.0   52964.0    1804.0
29999  30000    50000.0    1          2  ...    1430.0    1000.0    1000.0    1000.0

[30000 rows x 24 columns]

In [ ]:
y=df['default.payment.next.month']

In [ ]:
y

0        1
1        1
2        0
3        0
4        0
        ..
29995    0
29996    0
29997    1
29998    1
29999    1
Name: default.payment.next.month, Length: 30000, dtype: int64

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.30)

**Using Support Vector Machine Algorithm**

In [ ]:
from sklearn.svm import SVC

In [ ]:
model=SVC()

In [ ]:
model.fit(xtrain,ytrain)

SVC()

In [ ]:
model.score(xtest,ytest)

0.7811111111111111

**Using RandomForest**

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rad=RandomForestClassifier()

In [ ]:
rad.fit(xtrain,ytrain)

RandomForestClassifier()

In [ ]:
rad.score(xtest,ytest)

0.8133333333333334

**Decision Tree**

In [ ]:
from sklearn import tree

In [ ]:
Tree=tree.DecisionTreeClassifier()

In [ ]:
Tree.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [ ]:
Tree.score(xtest,ytest)

0.7292222222222222

**Logistic Regression**

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
Log=LogisticRegression()

In [ ]:
Log.fit(xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
Log.score(xtest,ytest)

0.7813333333333333

**Naive Bayes**

In [ ]:
from sklearn.naive_bayes import  GaussianNB

In [ ]:
GB=GaussianNB()

In [ ]:
GB.fit(xtrain,ytrain)

GaussianNB()

In [ ]:
GB.score(xtest,ytest)

0.37022222222222223